.btn-contact{
    background-color: #8E7754;
    color: white;
    padding: 12px 15px;
    transition: all 0.5s;
    margin-bottom: 15px;
}
.btn-contact:hover{
    background-color: #333333 !important;
    color: white;
}